@charset "utf-8";
/* ==========================================
 * @ Author   Fish
 * @ Website  http://fishtoyo.github.io/website/
========================================== */


/* ==========================================
   Tag Reset
========================================== */
body, form, input, textarea, select {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Verdana', '微軟正黑體';
}
body {
	background: url('../images/bg.png') fixed;
}
img { border: 0; text-decoration: none;}
textarea { resize: none;}


/* ==========================================
   Common Style
========================================== */
.displayNone {
	display: none;
}
/* Clear */
.clearBoth {
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.clearGroup:before, .clearGroup:after { 
   content: "";
   display: table; 
}
.clearGroup:after {
   clear: both; 
}
.clearGroup { 
   zoom: 1; /* IE6&7 */ 
}
/* Table */
.tabSet, .tabSet th, .tabSet td {
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.tabSet input, .tabSet label, .tabSet select {
	vertical-align: middle;
}
/* Ul */
.ulSet {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Placeholder */
::-webkit-input-placeholder {	color: #000;}
::-moz-placeholder { color: #000; opacity: 1;}
:-ms-input-placeholder { color: #000;}
:-moz-placeholder { color: #000;}
/* animate */
.animate {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


/* ==========================================
   Wrap
========================================== */
.mainWrap {
  margin: 0 auto;
  padding: 50px 0;
  width: 1000px;
  overflow: hidden;
}


/*