doctype htmlhtml  head    title      |        test    link href="styles.css" type="text/css" rel="stylesheet"    meta name="viewport" content="width=device-width, initial-scale=1"  body    #bg-1      #bg        #shape    #list      img#box-01 src="box-01.png"      img#box-02 src="box-02.png"      img#box-03 src="box-03.png"    #_-header      #author-1        img#author src="author.png"      img#desc src="desc.png"      #gap-2        #gap-1        #gap2-1        #gap        #gap2      #nav        #menu          #effect-1            #effect              p                |                  Effect          #work-1            #work              p.text-style-2                |                  Work        #search-1          #btn            #search              p.text-style-1                |                  SEARCH          img#search-ackground src="search-ackground.png"