@charset "utf-8";
/* ==========================================
 * @ Author   Fish
 * @ Website  http://www.urmemo.com
========================================== */


/* ==========================================
   Tag Reset
========================================== */
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #888;
	font-size: 14px;
	background-color: #426580;
}
body, input, select, textarea {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif, '微軟正黑體';
}
a {
	color: #4d9ad3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: none;
}
img {
	border: 0;
	text-decoration: none;
}
textarea {
	resize: none;
}
div, span, a, p, input, label, textarea, img, ul, li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ==========================================
   Common Style
========================================== */
/* Clear */
.clearBoth {
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.clearGroup:before,
.paneBox:before,
.clearGroup:after,
.paneBox:after {
   content: "";
   display: table;
}
.clearGroup:after,
.paneBox:after {
   clear: both;
}
.clearGroup,
.paneBox {
   zoom: 1; /* IE6&7 */
}

/* Table */
.tabSet, .tabSet th, .tabSet td {
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.tabSet input, .tabSet label, .tabSet select {
	vertical-align: middle;
}

/* Ul */
.ulSet {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Placeholder */
::-webkit-input-placeholder {	color: #999;}
::-moz-placeholder { color: #999; opacity: 1;}
:-ms-input-placeholder { color: #999;}
:-moz-placeholder { color: #999;}

/* animate */
.animate {
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
			    transition: all 0.4s ease-in-out;
}


/* ==========================================
   Page
========================================== */
.pageWrap {
	position: relative;
	overflow: hidden;
	background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
          box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.pageMain {
	background-color: #fff;
}
.topArea {
	background-color: #29a8c5;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
          box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
#mainWrap {
	padding: 0 10px;
}


/* ==========================================
   Header
========================================== */
#header {
	margin: 0 auto;
	width: 240px;
	height: 130px;
}
#header .author {
	float: left;
	padding: 15px 0 0 15px;
}
#header .author img {
	float: left;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#header h1, #header h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: normal;
	line-height: 32px;
}
#header h1 {
	margin-top: 20px;
	font-size: 24px;
}
#header h2 {
	font-size: 16px;
}


/* ==========================================
   Nav
========================================== */
#nav {
	height: 50px;
	border-top: 2px solid #329cb5;
}
#nav ul {
	width: 100%;
}
#nav li {
	float: left;
	width: 20%;
}
#nav li a {
	position: relative;
	display: block;
	padding-top: 30px;
	height: 90px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
}
#nav li a:before {
	display: none;
	pointer-events: none;
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #305c7d;
}
#nav li a .fa {
	font-size: 30px;
}
#nav li a span {
	display: none;
	font-size: 14px;
}
/* Current */
#nav li a.current {
	background-color: #329cb5;
}
#nav li a.current:before {
	display: block;
}
#nav li a.current span {
	font-size: 16px;
}
#nav li:before a.current,
#nav li:before a.current:hover {
	cursor: default;
	color: #fff;
	background-color: #000;
}
.paneBox {
	padding: 0 10px;
}


/* ==========================================
   Footer
========================================== */
#footer {
	margin-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}
#footer .line {
	margin-bottom: 15px;
	height: 10px;
	background: url('../images/footer_line.png') 0 0 repeat-x;
	border-bottom: 5px solid #305c7d;
}


/* ==========================================
   About
========================================== */
#about .area {
	padding: 0 0 10px;
	text-align: center;
}
#about .area.leftArea {
	padding-top: 30px;
}
#about .leftArea img {
	margin: 0 auto;
	width: 150px;
	height: 150px;

	-webkit-border-radius: 75px;
	   -moz-border-radius: 75px;
	        border-radius: 75px;
}
#about .rightArea .title {
	margin-bottom: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	border-bottom: 1px solid #e2e2e2;
}
#about .rightArea .notice {
	margin: 0 auto;
	font-size: 15px;
	text-align: left;
}
#about .tabIdentity {
	width: 100%;
	font-size: 15px;
	line-height: 30px;
}
#about .tabIdentity th {
	position: relative;
	padding-left: 5px;
	text-align: left;
	white-space: nowrap;
}
#about .tabIdentity th:after {
	pointer-events: none;
	content: '：';
}
#about .tabIdentity td {
	width: 100%;
}
#about .ulCases li {
	margin-bottom: 8px;
	font-size: 15px;
	text-align: left;
}
#about .ulCases li span {
	display: inline-block;
	margin: 0 10px 0 2px;
	width: 36px;
	height: 36px;
	line-height: 38px;
	text-align: center;
	background-color: #e4e4e4;

	-webkit-border-radius: 18px;
	   -moz-border-radius: 18px;
	        border-radius: 18px;
}
#about .ulCases .fa {
	color: #fff;
	font-size: 1.3em;
}
#about .ulCases strong {
	font-size: 1.3em;
	font-weight: normal;
}


/* ==========================================
   Resume
========================================== */
#resume .boxArea {
	position: relative;
	margin-top: 40px;
	padding: 40px 15px 15px;
	color: #888;
	background-color: #fff;
	border: solid 3px #557a83;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#resume .boxArea .year {
	position: absolute;
	top: -35px;
	left: 50%;
	margin: 0 0 0 -35px;
	width: 60px;
	height: 60px;
	color: #fff;
	font-size: 16px;
	font-family: 'Calibri';
	text-align: center;
	line-height: 55px;
	background-color: #557a83;
	border: 5px solid #fff;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#resume .boxArea:last-child .year {
	content: '2006';

	top: -31px;
	margin: 0 0 0 -33px;
	width: 56px;
	height: 56px;
	line-height: 48px;
	background-color: #6eaebe;
}
#resume .boxArea:last-child {
	border-color: #e5e5e5;
}
#resume .boxArea .title {
	font-size: 15px;
	line-height: 26px;
}
#resume .boxArea .company {
	color: #6eaebf;
	font-size: 15px;
}
#resume .boxArea .txt {
	padding: 8px 0 0;
	line-height: 18px;
}
#resume .skillArea,
#resume .langArea {
	padding-bottom: 10px;
}
#resume .skillBar {
	padding: 10px 0;
}
#resume .skillBar .title {
	padding: 0 0 5px;
	font-size: 16px;
}
#resume .skillBar .barLine {
	height: 10px;
	background-color: #f6f6f6;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
#resume .skillBar .line {
	position: relative;
	height: 100%;
	background-color: #6faebe;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#resume .skillBar .line:before {
	pointer-events: none;
	content: '';

	position: absolute;
	bottom: -6px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #dd5958 transparent;
}
#resume .skillBar .num {
	position: absolute;
	bottom: -29px;
	right: -12px;
	padding: 3px 6px 2px;
	color: #fff;
	font-family: 'Calibri';
	font-size: 12px;
	text-align: center;
	background-color: #dd5958;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
#resume .skillBar:nth-child(even) .line {
	background-color: #557a83;
}
#resume .skillBar .w25 {
	width: 25%;
}
#resume .skillBar .w60 {
	width: 60%;
}
#resume .skillBar .w80 {
	width: 80%;
}
#resume .skillBar .w95 {
	width: 95%;
}
#resume .langArea {

}
#resume .langBar {
	padding: 10px 0;
}
#resume .langArea .title {
	padding: 0 0 5px;
	font-size: 16px;
}
#resume .langArea .barLine {
	background-color: red;
}


/* ==========================================
   Work
========================================== */
#work .cateBar {
	margin-bottom: 10px;
	padding: 20px;
	text-align: center;
}
#work .cateBar li {
	display: inline-block;
}
#work .cateBar li a {
	padding: 10px;
	color: #999;
	font-size: 15px;
	text-decoration: none;
	border: 3px solid #eee;
}
#work .cateBar li.current a,
#work .cateBar li a:hover {
	color: #39a6bd;
	border-color: #39a6bd;
}
#work .itemBox {
	display: block;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	border: 1px solid #eee;
}
#work .itemBox span {
	display: block;
}
#work .itemBox .img {
	margin-bottom: 10px;
	width: 100%;
	height: 240px;
	background-color: #000;
}
#work .itemBox .title {
	font-size: 15px;
}
#work .itemBox .notice {
	color: #999;
}


/* ==========================================
   Blog
========================================== */
#blog .article {
	margin: 20px 0 25px;
}
#blog .top .data,
#blog .top .cate {
	float: left;
	padding: 12px 0 0;
	width: 60px;
	height: 60px;
	color: #8a8a8a;
	text-align: center;
	line-height: 22px;
	background-color: #efefef;
}
#blog .top .data strong {
	display: block;
	font-size: 20px;
	font-weight: normal;
}
#blog .top .data span {
	font-size: 12px;
}
#blog .top .cate {
	float: right;
	padding-top: 15px;
	color: #c25858;
	font-size: 30px;
}
#blog .top .title {
	float: none;
	padding: 20px 0 0;
	line-height: 24px;
	clear: both;
}
#blog .top .title a {
	color: #c25958;
	font-size: 24px;
	font-weight: bold;
}
#blog .descMain {
	margin: 10px 0;
}
#blog .descMain img {
	width: 100%;
	height: auto;
}
#blog .more {
	position: relative;
	display: inline-block;
}
#blog .more span {
	position: relative;
	display: block;
	padding: 0 20px;
	width: 100%;
	height: 30px;
	color: #fff;
	font-size: 15px;
	line-height: 32px;
	background-color: #6eadbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
}
#blog .more:before {
	pointer-events: auto;
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #669fad;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 0;
}
#blog .more:hover {
	text-decoration: none;
}
#blog .more:hover span {
	top: 3px;
}
#blog .more.view {
	display: block;
	text-align: center;
}
#blog .more.view span {
	height: 40px;
	line-height: 42px;
	background-color: #c25858;
}
#blog .more.view:before {
	background-color: #b04140;
}


/* ==========================================
   Contact
========================================== */
#contact .form-group {
	margin: 25px 0 10px;
}
#contact .form-group label {
	display: block;
	margin-bottom: 5px;
	color: #7f7f7f;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
}
#contact .form-control {
  display: block;
  padding: 10px;
  width: 100%;
  height: 34px;
  min-height: 50px;
  color: #555;
  font-size: 13px;
  outline: none;
  background-color: #fff;
  border: 3px solid #e1e1e1;
  border-radius: 4px;
     box-shadow: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#contact .form-control:focus {
  box-shadow: none;
  border: 3px solid #63A4B5;
}
#contact textarea.form-control {
	height: auto;
}
#contact .btn {
	position: relative;
	margin-top: 15px;
	padding: 0;
	display: inline-block;
	border: none;
	background-color: transparent;
}
#contact .btn span {
	position: relative;
	display: block;
	padding: 0 20px;
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 14px;
	line-height: 42px;
	background-color: #c25858;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
}
#contact .btn:before {
	pointer-events: auto;
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #b04140;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 0;
}
#contact .btn:hover span {
	top: 3px;
}



/* ==========================================
   Share Style
========================================== */
/* Gap */
.gap {
	display: none;
	margin: 15px 0;
	width: 100%;
	height: 1px;
	background: url('../images/gap1.png') 0 0 repeat-x;
}
/* Subject Bar */
.subjectBar {
	margin: 25px 0 10px;
	height: 40px;
	line-height: 42px;
	border-bottom: 1px solid #ddd;
}
.subjectBar .icon {
	float: left;
	width: 40px;
	height: 40px;
	color: #fff;
	font-size: 1.571em;
	text-align: center;
	background-color: #29a8c4;

	-webkit-border-radius: 5px 5px 0 0;
	   -moz-border-radius: 5px 5px 0 0;
	        border-radius: 5px 5px 0 0;
}
.subjectBar .txt {
	float: left;
	margin-left: 10px;
	color: #8a8a8a;
	font-size: 1.571em;
}


/* Skill */
.ulSkill {
	color: #fff;
}
.ulSkill li {
	margin-bottom: 5px;
	padding: 0 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.ulSkill li:nth-child(2n+1) {
	background-color: #557a83;
}
.ulSkill li:nth-child(2n+2) {
	background-color: #c25858;
}
.ulSkill .fa {
	margin-right: 8px;
	font-size: 1.15em;
}


/*