@charset "utf-8";

/* ==========================================
	 Extra Small Devices
========================================== */
@media screen and (min-width: 479px) {
	.xs-hide {
		display: block;
	}

	/* ==========================================
	   Share Style
	========================================== */
	#header {
		float: left;
		width: 200px;
		height: 100px;
	}
	#header .author {
		padding: 10px 0 0 10px;
	}
	#header .author img {
		width: 80px;
		height: 80px;
	}
	#header h1 {
		margin-top: 20px;
		line-height: 20px;
	}

	/* ==========================================
	   Nav
	========================================== */
	#nav {
		float: right;
		width: calc(100% - 240px);
	}
	#nav li a {
		padding-top: 40px;
		height: 100px;
	}
	#nav li a .fa {
		font-size: 26px;
	}

	/* ==========================================
	   About
	========================================== */
	#about .subjectBar {
		margin-top: 5px;
	}
	.authorArea {
		float: left;
		width: 200px;
	}
	.commentArea {
		float: right;
		padding: 25px 0 5px;
	}
	/* Comment */
	.commentArea {
		width: calc(100% - 200px);
	}
	.commentArea .title {
		margin-bottom: 10px;
		padding: 5px 0;
		text-align: left;
	}
	/* All Area Position */
	.profileArea,
	.baseArea,
	.skillArea,
	.historyArea .item {
		float: left;
		width: calc(50% - 10px);
	}
	.baseArea, .skillArea.lang, .historyArea .right {
		float: right;
	}
	.skillArea {
		padding-bottom: 15px;
	}
	.historyArea .boxArea {
		margin: 35px 0 5px;
	}

	/* ==========================================
	   Blog
	========================================== */
	#blog .top {
		width: 100%;
		height: 60px;
	}
	#blog .top .data,
	#blog .top .cate {
		width: 60px;
	}
	#blog .top .cate {
		float: left;
		background-color: transparent;
	}
	#blog .top .title {
		float: left;
		width: calc(100% - 120px);
		height: 60px;
		clear: none;
	}

}
/*