@charset "utf-8";

/* ==========================================
	 Small devices Tablets (<768px)
========================================== */
@media screen and (min-width: 768px) {
	/* ==========================================
	   Share Style
	========================================== */
	/* Subject Bar */
	.gap {
		display: block;
	}
	.subjectBar {
		margin: 5px 0 10px;
	}
	.clearBoth {
		display: block;
	}

	/* ==========================================
	   Share Style
	========================================== */
	#header {
		float: left;
		width: 260px;
	}

	/* ==========================================
	   Nav
	========================================== */
	#nav {
		float: left;
		width: calc(100% - 260px);
		height: 130px;
		border-top: none;
	}
	#nav li a {
		padding-top: 38px;
		height: 130px;
	}
	#nav li a .fa {
		font-size: 26px;
	}
	#nav li a span {
		display: block
	}
	/* Current */
	#nav li a.current {
		padding-top: 30px;
		line-height: 32px;
	}
	#nav li a.current .fa {
		font-size: 30px;
	}

	/* ==========================================
	   About
	========================================== */
	#about .area {
		padding: 25px 0 5px;
	}
	#about .leftArea,
	#about .rightArea {
		width: calc(50% - 10px);
	}
	#about .leftArea {
		float: left;
	}
	#about .rightArea {
		float: right;
		width: calc(50% - 10px);
	}
	#about .area.leftArea {
		width: 200px;
	}
	#about .area.rightArea {
		width: calc(100% - 200px);
	}
	#about .rightArea .title {
		margin-bottom: 10px;
		padding: 5px 0;
		text-align: left;
	}

}
/*